In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn.metrics.pairwise import cosine_similarity
from math import nan

In [2]:
critics = pd.DataFrame({
	"Lady": [2.5, 3.0, 2.5, None, 3.0, 3.0, None],
	"Snakes": [3.5, 3.5, 3.0, 3.5, 4.0, 4.0, 4.5],
	"Luck": [3.0, 1.5, None, 3.0, 2.0, None, None],
	"Superman": [3.5, 5.0, 3.5, 4.0,3.0, 5.0, 4.0],
	"Dupree": [2.5, 3.5, None, 2.5, 2.0, 3.5, 1.0],
	"Night": [3.0, 3.0, 4.0, 4.5, 3.0, 3.0, None]
})
Name = ["Lisa Rose", "Gene Seymour", "Michael Phillips", "Claudia Puig", "Mick Lasalle", "Jack Matthews", "Toby"]
critics.index = Name

In [3]:
critics.dtypes

Lady        float64
Snakes      float64
Luck        float64
Superman    float64
Dupree      float64
Night       float64
dtype: object

In [4]:
critics.loc["Lisa Rose"]

# This is the preferred data format as 
# 1. Variables are column names, instead of constants as column names
# 2. Pandas dataframe is easy to do analysis as opposed to the dictionary recommended in the assignment

# Append Anne
Anne = pd.Series({"Lady": 1.5, "Snakes": None, "Luck": 4.0, "Superman": None, "Dupree":2.0, "Night": None}, name="Anne")
critics = critics.append(Anne)
critics

                  Lady  Snakes  Luck  Superman  Dupree  Night
Lisa Rose          2.5     3.5   3.0       3.5     2.5    3.0
Gene Seymour       3.0     3.5   1.5       5.0     3.5    3.0
Michael Phillips   2.5     3.0   NaN       3.5     NaN    4.0
Claudia Puig       NaN     3.5   3.0       4.0     2.5    4.5
Mick Lasalle       3.0     4.0   2.0       3.0     2.0    3.0
Jack Matthews      3.0     4.0   NaN       5.0     3.5    3.0
Toby               NaN     4.5   NaN       4.0     1.0    NaN
Anne               1.5     NaN   4.0       NaN     2.0    NaN

In [5]:
# Tests
lisa = critics.loc["Lisa Rose"]
print(lisa.name)
print(lisa.to_dict())
for item in lisa.to_dict():
    print(item)

Lisa Rose
{'Lady': 2.5, 'Snakes': 3.5, 'Luck': 3.0, 'Superman': 3.5, 'Dupree': 2.5, 'Night': 3.0}
Lady
Snakes
Luck
Superman
Dupree
Night

In [6]:
def sim_distance_manhattan(person1, person2):
    """args:
           person1, person2: pandas series with movie ratings of each person
        
       returns:
           score: float which is a Manhattan distance between 2 persons"""
    scores = [abs(rating1 - rating2) if (not(np.isnan(rating1)) and not(np.isnan(rating2))) else 0 \
              for rating1, rating2 in zip(person1, person2)]
    
    return np.sum(scores)

In [7]:
#test
sim_distance_manhattan(critics.loc["Lisa Rose"], critics.loc["Gene Seymour"])

4.5

In [8]:
def sim_distance_euclidian(person1, person2):
    """args:
           person1, person2: pandas series with movie ratings of each person
        
       returns:
           score: float which is a Euclidian distance between 2 persons"""    

    scores = [np.square(rating1 - rating2) if (not(np.isnan(rating1)) and not(np.isnan(rating2))) else 0 \
              for rating1, rating2 in zip(person1, person2)]
    # print(scores)
    #remove the nan values
    return np.sqrt(np.sum(scores))

In [9]:
#test
sim_distance_euclidian(critics.loc["Lisa Rose"], critics.loc["Gene Seymour"])
sim_distance_euclidian(critics.loc["Lisa Rose"], critics.loc["Toby"])

1.8708286933869707

In [10]:
def pearson(person1, person2):
    """
    person1 and person2 are series
    """
    df = pd.concat([person1, person2], axis=1)
    df = df.dropna()
    correlation = df.corr(method='pearson')
    #print("correlation: ", correlation)
    return correlation.values[0][1]

In [11]:
#test
c = pearson(critics.loc["Toby"], critics.loc["Gene Seymour"])
print(c)

0.3812464258315117

In [12]:
def cosine(person1, person2):
    """
    person1 and person2 are series
    """
    df = pd.concat([person1, person2], axis=1)
    df = df.dropna()
    x = df[df.columns[0]].values
    y = df[df.columns[1]].values
    correlation = np.dot(x, y)/(np.linalg.norm(x)*np.linalg.norm(y))
    # print("correlation: ", correlation)
    return correlation

In [13]:
c = cosine(critics.loc["Toby"], critics.loc["Gene Seymour"])

In [14]:
def compute_nearest_neighbour(new_critic, critics, distance_measure = "manhattan"):
    """
    returning a sorted list of critics close
    to nouveaucritic.
    """
    distances=[]
    for critic, row in critics.iterrows():
        if critic!=new_critic:
            # print(critic, ",", new_critic, ": ", end="")
            if distance_measure == "manhattan":
                distance=sim_distance_manhattan(critics.loc[critic], critics.loc[new_critic])
            elif distance_measure == "euclidian":
                distance=sim_distance_euclidian(critics.loc[critic], critics.loc[new_critic])
            elif distance_measure == "pearson":
                distance=pearson(critics.loc[critic], critics.loc[new_critic])
            elif distance_measure == "cosine":
                distance=cosine(critics.loc[critic], critics.loc[new_critic])
            else:
                print("Incorrect distance metric provided")
                return
            # print(distance)
            if not(np.isnan(distance)):
                distances.append((distance,critic))
    return sorted(distances, key = lambda x: x[0])

In [15]:
#test
compute_nearest_neighbour("Lisa Rose",critics)

[(1.5, 'Michael Phillips'),
 (2.0, 'Claudia Puig'),
 (2.5, 'Anne'),
 (3.0, 'Mick Lasalle'),
 (3.0, 'Toby'),
 (3.5, 'Jack Matthews'),
 (4.5, 'Gene Seymour')]

In [16]:
#test
compute_nearest_neighbour("Toby", critics)

[(1.0, 'Anne'),
 (2.0, 'Michael Phillips'),
 (2.5, 'Claudia Puig'),
 (2.5, 'Mick Lasalle'),
 (3.0, 'Lisa Rose'),
 (4.0, 'Jack Matthews'),
 (4.5, 'Gene Seymour')]

In [17]:
def recommend_nearest_neighbour(new_critic, critics):
    distances = compute_nearest_neighbour(new_critic, critics)
    nearest_neighbour = distances[0]
    
    new_critic = critics.loc[new_critic].to_dict()
    nn = critics.loc[nearest_neighbour[1]].to_dict()
    
    recommendations = []
    for movie in new_critic:
        if np.isnan(new_critic[movie]) and not(np.isnan(nn[movie])):
            recommendations.append((movie, nn[movie]))
    
    return sorted(recommendations, key = lambda x: x[1], reverse=True)

In [18]:
#test
recommend_nearest_neighbour("Toby", critics)

[('Luck', 4.0), ('Lady', 1.5)]

In [19]:
def best_recommend(new_critic, critics, similarity_measure="manhattan", weight_measure="normal"):
    """for each movie, find the best score"""
    if similarity_measure == "manhattan":
        distances = compute_nearest_neighbour(new_critic,critics, "manhattan")
    elif similarity_measure == "euclidian":
        distances = compute_nearest_neighbour(new_critic,critics, "euclidian")
    elif similarity_measure == "pearson":
        distances = compute_nearest_neighbour(new_critic,critics, "pearson")
    elif similarity_measure == "cosine":
        distances = compute_nearest_neighbour(new_critic,critics, "cosine")
    else:
        print("Wrong Similarity measure provided")
        return None
    # print(distances)
    distances = {d[1]: d[0] for d in distances}
    movies = critics.loc[new_critic]
    movies_not_watched = movies[np.isnan(movies)].index
    # print(movies_not_watched)
    s_ = dict()
    for movie in movies_not_watched:
        total = 0 
        s = 0
        for critic in critics.index:
            movie_rating = critics.loc[critic].to_dict()[movie]
            if ~np.isnan(movie_rating) and (critic in distances): 
                if weight_measure == "normal":
                    weight = 1/(1+distances[critic])
                elif weight_measure == "exponential":
                    weight = math.exp(0-distances[critic])
                else:
                    print("wrong weight measure provided")
                    return None
                total += weight * movie_rating
                s += weight
        if s != 0:
            s_[movie] = total/s
        else:
            s_[movie] = 0
        
    print(s_)
    return sorted(s_, key=s_.get, reverse=True)[0]

In [20]:
best_recommend("Anne", critics)

{'Snakes': 3.7102754377162173, 'Superman': 3.908627564898196, 'Night': 3.6071368399770862}

'Superman'

In [21]:
# test
best_recommend("Anne", critics, weight_measure="exponential")

{'Snakes': 3.699042610620127, 'Superman': 3.821068742837592, 'Night': 3.927900678942954}

'Night'

In [22]:
best_recommend("Anne", critics, similarity_measure="pearson")

{'Snakes': 3.611325016525231, 'Superman': 4.537860505668406, 'Night': 3.0491769833757996}

'Superman'

In [23]:
best_recommend("Anne", critics, similarity_measure="cosine")

{'Snakes': 3.7124560447528605, 'Superman': 4.0053503123050636, 'Night': 3.402857861715499}

'Superman'

In [24]:
# read the music data
music_data = \
[["name","Angelica","Bill","Chan","Dan","Hailey","Jordyn","Sam","Veronica"],
["Blues Traveler",3.5,2,5,3,None,None,5,3],
["Broken Bells",2,3.5,1,4,4,4.5,2,None],
["Deadmau5",None,4,1,4.5,1,4,1,4],
["Norah Jones",4.5,None,3,None,4,5,3,5],
["Phoenix",5,2,5,3,None,5,5,4],
["Slightly Stoopid",1.5,3.5,1,4.5,None,4.5,4,2.5],
["The Strokes",2.5,None,None,4,4,4,5,3],
["Vampire Weekend",2,3,None,2,1,4,None,None]]
music_data = pd.DataFrame(np.transpose(music_data))
music_data = music_data
music_data.columns = music_data.iloc[0]
music_data = music_data.drop(0)
music_data.index = music_data.name.values
music_data = music_data.drop("name", axis=1)
music_data = music_data.astype(float)

In [25]:
music_data

,Blues Traveler,Broken Bells,Deadmau5,Norah Jones,Phoenix,Slightly Stoopid,The Strokes,Vampire Weekend
Angelica,3.5,2.0,NaN,4.5,5.0,1.5,2.5,2.0
Bill,2.0,3.5,4.0,NaN,2.0,3.5,NaN,3.0
Chan,5.0,1.0,1.0,3.0,5.0,1.0,NaN,NaN
Dan,3.0,4.0,4.5,NaN,3.0,4.5,4.0,2.0
Hailey,NaN,4.0,1.0,4.0,NaN,NaN,4.0,1.0
Jordyn,NaN,4.5,4.0,5.0,5.0,4.5,4.0,4.0
Sam,5.0,2.0,1.0,3.0,5.0,4.0,5.0,NaN
Veronica,3.0,NaN,4.0,5.0,4.0,2.5,3.0,NaN

In [26]:
weight_measures = ["normal", "exponential"]
similarity_measures = ["manhattan", "euclidian", "pearson", "cosine"]
result = []
for w in weight_measures:
    S = []
    for s in similarity_measures:
        r = best_recommend("Veronica", music_data, similarity_measure=s, weight_measure=w)
        S.append(r)
    result.append(S)

result = pd.DataFrame(np.transpose(result), columns = weight_measures, index = similarity_measures)
print("result for veronica")
result

{'Broken Bells': 3.223210013347772, 'Vampire Weekend': 2.446409989594173}
{'Broken Bells': 3.103382168159156, 'Vampire Weekend': 2.4330477201609337}
{'Broken Bells': 2.9451583465622115, 'Vampire Weekend': 2.298630459863528}
{'Broken Bells': 2.9823516870991966, 'Vampire Weekend': 2.388165211110368}
{'Broken Bells': 3.284578069706963, 'Vampire Weekend': 2.569337175881855}
{'Broken Bells': 3.1422172416039498, 'Vampire Weekend': 2.4625959140684346}
{'Broken Bells': 2.9810900114221477, 'Vampire Weekend': 2.2841671911498596}
{'Broken Bells': 2.9661074216996925, 'Vampire Weekend': 2.3769631515605716}
result for veronica

                 normal   exponential
manhattan  Broken Bells  Broken Bells
euclidian  Broken Bells  Broken Bells
pearson    Broken Bells  Broken Bells
cosine     Broken Bells  Broken Bells

In [27]:
result = []
for w in weight_measures:
    S = []
    for s in similarity_measures:
        r = best_recommend("Hailey", music_data, similarity_measure=s, weight_measure=w)
        S.append(r)
    result.append(S)

result = pd.DataFrame(np.transpose(result), columns = weight_measures, index = similarity_measures)
print("result for Haily")
result

{'Blues Traveler': 3.682402965547318, 'Phoenix': 4.16416306533244, 'Slightly Stoopid': 2.993922026299369}
{'Blues Traveler': 3.670076156996576, 'Phoenix': 4.204565095313143, 'Slightly Stoopid': 3.001090442232799}
{'Blues Traveler': 3.4000090475599793, 'Phoenix': 3.974747804267113, 'Slightly Stoopid': 3.0402550107697053}
{'Blues Traveler': 3.565280143893448, 'Phoenix': 4.122112999046882, 'Slightly Stoopid': 3.0741290215668666}
{'Blues Traveler': 4.110895740546039, 'Phoenix': 4.374146026272414, 'Slightly Stoopid': 2.813911848333065}
{'Blues Traveler': 3.933744548659873, 'Phoenix': 4.4312079088574805, 'Slightly Stoopid': 2.856389140787804}
{'Blues Traveler': 3.349053895129917, 'Phoenix': 3.9266026757524672, 'Slightly Stoopid': 3.026986566088232}
{'Blues Traveler': 3.5492979197390055, 'Phoenix': 4.103699976191357, 'Slightly Stoopid': 3.076516506322003}
result for Haily

            normal exponential
manhattan  Phoenix     Phoenix
euclidian  Phoenix     Phoenix
pearson    Phoenix     Phoenix
cosine     Phoenix     Phoenix

In [28]:
# my own example
ratings = pd.DataFrame([[1,2,3,4,5],
[6,5,4,3,2],
[3,4,5,6,7],
[8,7,6,5,4],
[5,None,7,None,9]])
ratings.index = ["0", "1", "2", "3", "4"]
ratings

   0    1  2    3  4
0  1  2.0  3  4.0  5
1  6  5.0  4  3.0  2
2  3  4.0  5  6.0  7
3  8  7.0  6  5.0  4
4  5  NaN  7  NaN  9

In [29]:
# what to recommend to #4?
result = []
for w in weight_measures:
    S = []
    for s in similarity_measures:
        r = best_recommend("4", ratings, similarity_measure=s, weight_measure=w)
        S.append(r)
    result.append(S)

result = pd.DataFrame(np.transpose(result), columns = weight_measures, index = similarity_measures)
print("result for 4")
result #different for manhattan, euclidian and pearson, cosine

{1: 4.569286687869151, 3: 4.750113584734211}
{1: 4.4864539850160865, 3: 4.782748197718374}
{1: nan, 3: nan}
{1: 4.539059758462734, 3: 4.4697361511835325}
{1: 4.142720594941717, 3: 5.929217991459727}
{1: 4.185934770920111, 3: 5.829572967372933}
{1: 5.642391233933647, 3: 4.119202922022118}
{1: 4.5746545975919215, 3: 4.4422289130689006}
result for 4

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:36: RuntimeWarning: invalid value encountered in double_scalars

           normal  exponential
manhattan       3            3
euclidian       3            3
pearson         1            1
cosine          1            1

In [40]:
# Another example: real dataset
ratings = pd.read_csv("test_data/ratings.csv")
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [42]:
#transform the data

distinct_movies = np.unique(ratings["movieId"])
distinct_users = np.unique(ratings["userId"])

#take 100 movies and 100 users from dataset and make a matrix of dimension distinct_users*distinct_movies
matrix = np.empty([100, 100])
matrix[:,:] = np.nan
for i in range(100):
    for j in range(100):
        value = ratings.query("userId == %d and movieId == %d"%(i, j))['rating'].values
        if len(value) != 0:
            matrix[i][j] = value[0]
print(matrix) #sparse matrix

[[nan nan nan ... nan nan nan]
 [nan 4.  nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan 4.5 nan ... nan nan nan]
 [nan nan nan ... nan nan nan]]

In [43]:
df = pd.DataFrame(matrix)
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# what to recommend to #99?
result = []
for w in weight_measures:
    S = []
    for s in similarity_measures:
        r = best_recommend(99, df, similarity_measure=s, weight_measure=w)
        S.append(r)
    result.append(S)

result = pd.DataFrame(np.transpose(result), columns = weight_measures, index = similarity_measures)
print("result for 99")
result #different for manhattan, euclidian and pearson, cosine

{0: 0, 1: 3.720744680851064, 2: 3.669491525423728, 3: 3.4680851063829783, 4: 3.0, 5: 3.4545454545454537, 6: 3.952797202797203, 7: 3.273972602739726, 8: 2.4545454545454546, 9: 0, 11: 3.603448275862068, 12: 1.0, 13: 3.6000000000000005, 14: 4.666666666666667, 15: 3.6000000000000005, 16: 4.257201646090535, 17: 3.407407407407407, 18: 3.5000000000000004, 19: 2.633928571428571, 20: 3.0, 21: 3.713298791018998, 24: 2.7142857142857144, 25: 3.5862068965517233, 26: 3.777777777777778, 27: 3.0, 28: 5.0, 29: 4.5, 30: 0, 31: 2.846846846846847, 32: 3.796305797845049, 33: 0, 34: 3.8850574712643686, 35: 0, 36: 4.121212121212121, 37: 0, 38: 2.5, 39: 3.394117647058824, 40: 0, 41: 3.7857142857142856, 42: 0, 43: 2.5, 44: 2.2499999999999996, 45: 3.333333333333333, 46: 3.727272727272727, 47: 3.8544758257539486, 48: 3.1475409836065578, 49: 0, 50: 4.340979782270606, 51: 0, 52: 3.75, 53: 5.0, 54: 3.0, 55: 4.0, 56: 0, 57: 4.0, 58: 4.0, 59: 0, 60: 3.7804878048780486, 61: 4.0, 62: 3.9135021097046416, 63: 0, 64: 2.0, 65: 2.6206896551724137, 66: 3.0, 67: 0, 68: 3.0, 69: 3.5714285714285716, 70: 3.5625, 71: 0, 72: 0, 73: 0, 74: 4.0, 75: 0, 76: 4.75, 77: 0, 78: 4.0, 79: 4.2, 80: 0, 81: 3.0, 82: 5.0, 83: 0, 84: 0, 85: 5.0, 86: 4.5, 87: 2.5, 88: 2.8823529411764715, 89: 2.8, 90: 0, 91: 0, 92: 2.5714285714285716, 93: 3.25, 94: 4.0, 95: 3.5082872928176787, 96: 0, 97: 0, 98: 0, 99: 0}
{0: 0, 1: 3.7215071566681073, 2: 3.666421356237309, 3: 3.483772465744179, 4: 3.0, 5: 3.476942766882761, 6: 3.959590726045476, 7: 3.2769382929246444, 8: 2.4775922500725174, 9: 0, 11: 3.618204107669926, 12: 1.0, 13: 3.572230709491639, 14: 4.666666666666667, 15: 3.618512860338908, 16: 4.267163750661444, 17: 3.412685422688666, 18: 3.5000000000000004, 19: 2.6175493822303695, 20: 3.0, 21: 3.706829271024515, 24: 2.7573593128807152, 25: 3.567547141936247, 26: 3.7836116248912246, 27: 3.0, 28: 5.0, 29: 4.489501845123759, 30: 0, 31: 2.8491550260974186, 32: 3.79775853285787, 33: 0, 34: 3.885695058152438, 35: 0, 36: 4.1189636231116, 37: 0, 38: 2.5, 39: 3.382716830357418, 40: 0, 41: 3.8, 42: 0, 43: 2.585786437626905, 44: 2.2499999999999996, 45: 3.3228872552692548, 46: 3.7387961250362585, 47: 3.8576178630373845, 48: 3.1475409836065578, 49: 0, 50: 4.334394160206966, 51: 0, 52: 3.75, 53: 5.0, 54: 3.108194187554388, 55: 4.0, 56: 0, 57: 4.0, 58: 3.9800166383708433, 59: 0, 60: 3.783055587382642, 61: 4.0, 62: 3.9141175947709446, 63: 0, 64: 2.0, 65: 2.626932507091123, 66: 3.0, 67: 0, 68: 3.0, 69: 3.5714285714285716, 70: 3.5625, 71: 0, 72: 0, 73: 0, 74: 4.0, 75: 0, 76: 4.707106781186548, 77: 0, 78: 4.0, 79: 4.093836321356054, 80: 0, 81: 3.0, 82: 5.0, 83: 0, 84: 0, 85: 5.0, 86: 4.5, 87: 2.5540970937771936, 88: 2.8619288125423012, 89: 2.9061636786439458, 90: 0, 91: 0, 92: 2.6213203435596424, 93: 3.2928932188134525, 94: 4.0, 95: 3.5032182990400242, 96: 0, 97: 0, 98: 0, 99: 0}
{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0}

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in double_scalars
  if __name__ == '__main__':

{0: 0, 1: 4.041911579099224, 2: 3.5563026922784537, 3: 3.56576691558674, 4: 3.0000000000000004, 5: 3.670703851745643, 6: 4.055462163465193, 7: 3.5015188862377, 8: 3.994010828102057, 9: 0, 11: 3.9445567017753214, 12: 1.0, 13: 3.0000000000000004, 14: 4.0, 15: 3.3366841826447953, 16: 4.083123377603858, 17: 3.3021152878727684, 18: 2.0, 19: 2.3494703778151043, 20: 0, 21: 3.442016250095025, 24: 4.0, 25: 3.1662467552077165, 26: 3.5037602554383853, 27: 3.0, 28: 0, 29: 4.50076570397797, 30: 0, 31: 3.199395632036352, 32: 4.0416141115287845, 33: 0, 34: 3.7090308085097052, 35: 0, 36: 4.168766223961417, 37: 0, 38: 2.5, 39: 3.1666666666666665, 40: 0, 41: 4.331657908677602, 42: 0, 43: 4.0, 44: 2.0, 45: 3.4974868630164035, 46: 3.5037602554383853, 47: 3.843927751742736, 48: 3.167603483516704, 49: 0, 50: 4.079444253130019, 51: 0, 52: 4.0, 53: 0, 54: 3.0075205108767697, 55: 4.0, 56: 0, 57: 4.00153140795594, 58: 2.0, 59: 0, 60: 4.332337165557978, 61: 4.0, 62: 3.6675064895845666, 63: 0, 64: 2.0, 65: 1.8792462543692678, 66: 3.0, 67: 0, 68: 0, 69: 4.0, 70: 2.9, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 4.0, 77: 0, 78: 0, 79: 3.994010828102057, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 4.336684182644795, 87: 2.5037602554383853, 88: 2.496239744561615, 89: 3.0075205108767697, 90: 0, 91: 0, 92: 2.6733683652895905, 93: 4.0, 94: 4.0, 95: 3.0517279894852725, 96: 0, 97: 0, 98: 0, 99: 0}
{0: 0, 1: 3.7005519237862425, 2: 3.6900639260888073, 3: 3.422225754988079, 4: 3.0, 5: 3.364828536528172, 6: 3.9461836797162992, 7: 3.257731382245292, 8: 2.1589750305599513, 9: 0, 11: 3.552435881882772, 12: 1.0, 13: 3.7869860421615984, 14: 4.731058578630005, 15: 3.7869860421615984, 16: 4.3039126725198145, 17: 3.405608962882412, 18: 3.525011297266564, 19: 2.732034950201048, 20: 3.0, 21: 3.7494611689045585, 24: 2.5950684074995567, 25: 3.6026328049889393, 26: 3.7787890902280115, 27: 3.0, 28: 5.0, 29: 4.5, 30: 0, 31: 2.809220814069897, 32: 3.7771271343123547, 33: 0, 34: 3.8881031242064528, 35: 0, 36: 4.111161522541044, 37: 0, 38: 2.5, 39: 3.429278940804415, 40: 0, 41: 3.6621652878529587, 42: 0, 43: 2.2384058440442347, 44: 2.288892424779834, 45: 3.3181164779784473, 46: 3.755271528945202, 47: 3.869993989738824, 48: 3.166273081707505, 49: 0, 50: 4.355121976675751, 51: 0, 52: 3.7323167711046574, 53: 5.0, 54: 3.0, 55: 4.0, 56: 0, 57: 4.0, 58: 4.031578026370338, 59: 0, 60: 3.7490286530594115, 61: 4.0, 62: 3.9325561703668477, 63: 0, 64: 2.0, 65: 2.698264825684492, 66: 2.9999999999999996, 67: 0, 68: 3.0, 69: 3.554615886286518, 70: 3.661703482817605, 71: 0, 72: 0, 73: 0, 74: 4.0, 75: 0, 76: 4.880797077977882, 77: 0, 78: 4.0, 79: 4.46211715726001, 80: 0, 81: 3.0, 82: 5.0, 83: 0, 84: 0, 85: 5.0, 86: 4.5, 87: 2.5, 88: 2.9459354078110036, 89: 2.5378828427399904, 90: 0, 91: 0, 92: 2.423883115234171, 93: 3.1192029220221174, 94: 4.0, 95: 3.607894703831918, 96: 0, 97: 0, 98: 0, 99: 0}
{0: 0, 1: 3.701789655932571, 2: 3.6841477647023573, 3: 3.4476339938000797, 4: 2.9999999999999996, 5: 3.4004091921446054, 6: 3.9569929932389387, 7: 3.262340042242748, 8: 2.2152426326016434, 9: 0, 11: 3.575915038190774, 12: 1.0, 13: 3.7254514391365627, 14: 4.731058578630005, 15: 3.8036416480200903, 16: 4.316580760797653, 17: 3.4130709660184557, 18: 3.525011297266564, 19: 2.7024497868377506, 20: 3.0, 21: 3.739184188498488, 24: 2.66257517767719, 25: 3.574127766827222, 26: 3.7871558913013446, 27: 3.0, 28: 5.0, 29: 4.483787758093946, 30: 0, 31: 2.81362627651339, 32: 3.7795326786966514, 33: 0, 34: 3.889018679683342, 35: 0, 36: 4.107016040279204, 37: 0, 38: 2.5, 39: 3.4111368773009803, 40: 0, 41: 3.699571734340314, 42: 0, 43: 2.3911406349860864, 44: 2.288892424779834, 45: 3.302654633233075, 46: 3.7716447458150313, 47: 3.8746333379959452, 48: 3.166273081707505, 49: 0, 50: 4.345754984294556, 51: 0, 52: 3.7323167711046574, 53: 5.0, 54: 3.2847955517873557, 55: 4.0, 56: 0, 57: 4.0, 58: 4.001632227138768, 59: 0, 60: 3.7531203293005944, 61: 4.0, 62: 3.9332376046089506, 63: 0, 64: 2.0, 65: 2.7057361064370937, 66: 3.0, 67: 0, 68: 3.0, 69: 3.554615886286518, 70: 3.661703482817605, 71: 0, 72: 0, 73: 0, 74: 4.0, 75: 0, 76: 4.804429682506957, 77: 0, 78: 4.0, 79: 4.204195560820909, 80: 0, 81: 3.0, 82: 5.0, 83: 0, 84: 0, 85: 5.0, 86: 4.5, 87: 2.642397775893678, 88: 2.91114756619226, 89: 2.7958044391790904, 90: 0, 91: 0, 92: 2.557913843940074, 93: 3.195570317493043, 94: 4.0, 95: 3.594659615471418, 96: 0, 97: 0, 98: 0, 99: 0}
{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0}
{0: 0, 1: 4.042156364853251, 2: 3.557047209143368, 3: 3.5690186054200517, 4: 3.0000000000000004, 5: 3.674716156319242, 6: 4.055369098857079, 7: 3.5030307394605673, 8: 3.9881299402734736, 9: 0, 11: 3.944668492246855, 12: 1.0, 13: 3.0000000000000004, 14: 4.0, 15: 3.340001018037338, 16: 4.082914508595861, 17: 3.3042175139956576, 18: 2.0, 19: 2.348942435577691, 20: 0, 21: 3.439596570284055, 24: 4.0, 25: 3.1658290171917227, 26: 3.5074638204907163, 27: 3.0, 28: 0, 29: 4.501529061564914, 30: 0, 31: 3.1987949960012405, 32: 4.0415616966981815, 33: 0, 34: 3.7097261146316907, 35: 0, 36: 4.170854914041387, 37: 0, 38: 2.5, 39: 3.1666666666666674, 40: 0, 41: 4.329999490981331, 42: 0, 43: 4.0, 44: 2.0, 45: 3.4949992364719966, 46: 3.5074638204907163, 47: 3.844105077114603, 48: 3.168539337595973, 49: 0, 50: 4.075565555665445, 51: 0, 52: 4.0, 53: 0, 54: 3.014927640981431, 55: 4.0, 56: 0, 57: 4.003058123129828, 58: 2.0, 59: 0, 60: 4.3313531995095405, 61: 4.0, 62: 3.6683419656165546, 63: 0, 64: 2.0, 65: 1.8834599415370499, 66: 3.0, 67: 0, 68: 0, 69: 4.0, 70: 2.8999999999999995, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 4.0, 77: 0, 78: 0, 79: 3.9881299402734736, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 4.340001018037339, 87: 2.507463820490716, 88: 2.4925361795092846, 89: 3.014927640981431, 90: 0, 91: 0, 92: 2.680002036074676, 93: 4.0, 94: 4.0, 95: 3.0534494868089888, 96: 0, 97: 0, 98: 0, 99: 0}
result for 99

           normal  exponential
manhattan      28           28
euclidian      28           28
pearson         0            0
cosine         29           29

In [37]:
import random
#create a matrix of random ratings
ratings = np.random.rand(100,100)*5

#randomly select 10% of values in matrix to be NaN
for i in range(5000):
    row = random.randint(0,99)
    col = random.randint(0,99)
    ratings[row][col] = np.nan

ratings = pd.DataFrame(ratings)
    
ratings

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.523701,2.631387,0.461101,NaN,NaN,0.658341,0.116405,2.554733,NaN,NaN,...,0.833275,0.145140,2.319909,1.696017,NaN,NaN,3.587738,NaN,NaN,2.693525
1,0.939496,NaN,NaN,NaN,NaN,4.234869,NaN,NaN,NaN,NaN,...,3.485750,NaN,2.861366,0.376020,1.394986,0.132390,4.642001,NaN,2.041633,NaN
2,4.649328,1.664935,2.859372,NaN,NaN,0.603967,NaN,NaN,2.118009,1.281084,...,NaN,NaN,NaN,1.277176,0.930657,0.415010,NaN,4.446615,3.150361,NaN
3,NaN,NaN,1.244475,4.135594,0.865048,NaN,NaN,0.466837,3.423466,2.392278,...,2.946342,4.714563,NaN,NaN,2.938244,NaN,2.791323,NaN,NaN,3.441322
4,1.301117,3.710906,4.478866,3.282938,NaN,3.959652,NaN,NaN,0.648873,3.983268,...,NaN,1.465753,1.820228,1.317111,NaN,NaN,0.308376,0.427613,0.483159,4.834011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,4.882421,2.825116,NaN,2.047683,NaN,0.945927,0.511328,0.469232,NaN,...,2.854411,NaN,NaN,3.543414,NaN,4.553102,1.824837,0.890054,1.732055,3.381668
96,4.924585,3.011199,NaN,NaN,NaN,3.630291,3.895414,NaN,1.526792,NaN,...,0.915008,1.459340,NaN,NaN,NaN,NaN,2.347070,3.545407,4.176842,2.597650
97,NaN,1.184541,NaN,4.491366,NaN,NaN,NaN,3.395970,4.116437,NaN,...,0.999128,NaN,3.291110,NaN,3.957297,NaN,NaN,NaN,1.067353,1.292886
98,4.512956,4.239892,1.497453,NaN,4.814332,0.587722,3.297131,0.397752,NaN,NaN,...,4.211055,NaN,NaN,NaN,0.865185,NaN,0.553325,NaN,0.430557,0.615293
99,NaN,3.606190,0.193341,NaN,1.714153,NaN,NaN,NaN,NaN,4.248132,...,NaN,NaN,NaN,1.354825,1.049660,0.797902,2.942569,NaN,NaN,4.773949

In [38]:
# what to recommend to #9?
result = []
for w in weight_measures:
    S = []
    for s in similarity_measures:
        r = best_recommend(9, ratings, similarity_measure=s, weight_measure=w)
        S.append(r)
    result.append(S)

result = pd.DataFrame(np.transpose(result), columns = weight_measures, index = similarity_measures)
print("result for 8")
result #different for manhattan, euclidian and pearson, cosine

{0: 2.4870873096711352, 1: 2.589259821232642, 5: 2.4805947042991927, 10: 2.88011312391394, 12: 2.56487463313779, 16: 2.596299761777945, 19: 2.367074598628346, 20: 2.9286156273564776, 21: 2.3531111541711405, 28: 2.4040536877936014, 35: 2.317275508702669, 37: 2.577800913465379, 38: 2.461729973038076, 41: 2.41044147865136, 42: 2.4916558764685237, 43: 2.6255161234412667, 44: 2.357528524799496, 49: 2.528830774765755, 50: 2.3667596219018416, 52: 2.923371901525852, 53: 2.008407269346894, 60: 2.8039844910330647, 62: 2.3313472824119557, 65: 2.5661591738842393, 66: 2.41391059670638, 69: 2.256472830814755, 70: 2.324605840713027, 73: 2.4647334406100083, 76: 2.515434095788827, 80: 2.0960792309844445, 82: 2.546512869567525, 86: 2.290323563452628, 91: 2.513228518077591, 92: 2.649362313329904, 93: 2.620446719609898, 94: 2.467806474089379, 95: 2.301473544990077, 98: 2.4286986619893463}
{0: 2.462818078223419, 1: 2.5965833295700653, 5: 2.49604278638546, 10: 2.898407551508018, 12: 2.5666774022253502, 16: 2.5848845773816955, 19: 2.37251684939111, 20: 2.9313013860680606, 21: 2.354863448972732, 28: 2.4070065682801656, 35: 2.3083340716571676, 37: 2.5801153996630535, 38: 2.451230919812951, 41: 2.4249635201604574, 42: 2.498790443770398, 43: 2.611894852040747, 44: 2.3574757367632366, 49: 2.513671760447167, 50: 2.3597318356631622, 52: 2.938705867624497, 53: 2.0131116417310695, 60: 2.809814403458614, 62: 2.335037669158674, 65: 2.552236742861669, 66: 2.4147961358081136, 69: 2.252158383230272, 70: 2.3462740351345075, 73: 2.463974999141623, 76: 2.529768485322702, 80: 2.091140379866227, 82: 2.557186767895895, 86: 2.284429719663496, 91: 2.512654692740516, 92: 2.6521666647357263, 93: 2.6024470809008315, 94: 2.4478601722050084, 95: 2.301163598406814, 98: 2.429866785141732}
{0: 2.4143462350341323, 1: 2.63370521596099, 5: 2.4987501594385626, 10: 2.9793367071773225, 12: 2.574369070190261, 16: 2.6067562677123677, 19: 2.408655755828822, 20: 2.8980058731898573, 21: 2.4294881111602256, 28: 2.4611249265540716, 35: 2.2915298409416427, 37: 2.594976016031512, 38: 2.474347382587081, 41: 2.3804635463728894, 42: 2.515634358080926, 43: 2.623299909984851, 44: 2.4312808961496084, 49: 2.4268351842010936, 50: 2.451373539953083, 52: 2.928026291151132, 53: 2.040552446634868, 60: 2.83744719289518, 62: 2.276309769035313, 65: 2.5023792334212063, 66: 2.4609554648121112, 69: 2.2756725693840645, 70: 2.449438117233785, 73: 2.4104654315709166, 76: 2.5236690061770877, 80: 2.1435875896376966, 82: 2.5650540541705453, 86: 2.181281172819603, 91: 2.6015194966125206, 92: 2.662897362914044, 93: 2.5645488483484487, 94: 2.4456989751455898, 95: 2.3039357475032345, 98: 2.4201251524355647}
{0: 2.4395564291349374, 1: 2.611380343944346, 5: 2.504861776354361, 10: 2.938178513082093, 12: 2.5782517839172536, 16: 2.5999296400075687, 19: 2.4039479771554473, 20: 2.9250966859344674, 21: 2.398889159151603, 28: 2.4158008427454583, 35: 2.2934660916918905, 37: 2.5815780917933835, 38: 2.458420044603976, 41: 2.4211575439010753, 42: 2.5208168164061378, 43: 2.616570361223906, 44: 2.386085216882478, 49: 2.474976473468447, 50: 2.3880104806118063, 52: 2.9401242406090815, 53: 2.0148141034798988, 60: 2.83712109510581, 62: 2.308738769495714, 65: 2.533660789043304, 66: 2.439528198500935, 69: 2.2711803914053337, 70: 2.3911129671023885, 73: 2.443814985750101, 76: 2.5575395818919486, 80: 2.102852466624484, 82: 2.5613922062580516, 86: 2.236556747010452, 91: 2.54562725178824, 92: 2.6297499066869086, 93: 2.5837722743906335, 94: 2.437597563385883, 95: 2.298663141339446, 98: 2.422314178602596}
{0: 2.6346617444001184, 1: 2.7281965637098677, 5: 2.374792814754954, 10: 1.8824586803719323, 12: 1.315028464322499, 16: 2.7902711767405646, 19: 0.9191517614734408, 20: 4.570578188605182, 21: 2.404680609903135, 28: 0.8749221388006964, 35: 3.2443664947949675, 37: 3.083310329080755, 38: 2.8378634418620976, 41: 2.1264648258168517, 42: 0.3996539291750201, 43: 1.1574280955088656, 44: 2.3188152563631887, 49: 2.75536072814688, 50: 2.190697868014664, 52: 2.2036374140272503, 53: 0.3144417511003335, 60: 1.8828839443799028, 62: 1.7328718260518396, 65: 3.0352123526025307, 66: 3.6508588384224416, 69: 0.8556392147063242, 70: 2.499042494816406, 73: 1.9402587548096475, 76: 1.3665517708167036, 80: 1.1738643989054076, 82: 2.1580657138213795, 86: 2.8845190222413506, 91: 3.0240150430522763, 92: 3.0413182487712325, 93: 4.685243951143626, 94: 3.8350722182819075, 95: 3.5259614705935123, 98: 4.2140427752457565}
{0: 2.3524623476946966, 1: 2.4534927660517583, 5: 2.3690387017348185, 10: 2.8028671395254485, 12: 2.1398870783140205, 16: 2.6379728217980642, 19: 2.0247974900117325, 20: 3.2080753539859552, 21: 2.0432718543798836, 28: 2.4917296994412568, 35: 2.402966836051728, 37: 2.775658498125308, 38: 2.574685681680722, 41: 2.434223933778682, 42: 1.972487306048535, 43: 2.3131464386752123, 44: 2.2339190857381146, 49: 2.6858167299493227, 50: 2.155511961145275, 52: 2.8880931359364634, 53: 1.8218179140996587, 60: 2.4480565505905423, 62: 2.673607299210988, 65: 2.659212473598092, 66: 2.4707848535305255, 69: 1.873979491911676, 70: 1.9663610123196047, 73: 2.5610807778563696, 76: 1.9924146684031556, 80: 1.9335038022946383, 82: 2.4809095612376333, 86: 2.8043089703485697, 91: 2.2936670281719107, 92: 3.1698827011781936, 93: 3.0092562083738597, 94: 2.708832165724497, 95: 2.595748388675766, 98: 2.451300136266789}
{0: 2.4247076658670386, 1: 2.636531241246477, 5: 2.5041469280815436, 10: 2.9774246971333644, 12: 2.580620559398381, 16: 2.6093140066617306, 19: 2.4154702247193707, 20: 2.905126101370882, 21: 2.4392662898781405, 28: 2.4545042149977414, 35: 2.289702731379118, 37: 2.5856750798852857, 38: 2.4728486345978493, 41: 2.3880512240117056, 42: 2.519954537098837, 43: 2.623704854969531, 44: 2.422975928514548, 49: 2.4332038328228047, 50: 2.4468943461904886, 52: 2.92739541050768, 53: 2.0332346246756963, 60: 2.838881966916365, 62: 2.2771282916671316, 65: 2.5019569056617397, 66: 2.4663638591205332, 69: 2.2841057534678995, 70: 2.443222747507397, 73: 2.4103437470990774, 76: 2.5346371947830852, 80: 2.136069150022443, 82: 2.5648618688517604, 86: 2.1839129119019605, 91: 2.601486101658964, 92: 2.6512183351468175, 93: 2.562016223923731, 94: 2.4443973476602325, 95: 2.3022227005623357, 98: 2.4238766110891423}
{0: 2.4372843898920546, 1: 2.614038779106769, 5: 2.505462732277009, 10: 2.943627141122539, 12: 2.581881495275081, 16: 2.6062368457966314, 19: 2.4096704905852713, 20: 2.9221964783546728, 21: 2.4056497274159576, 28: 2.4207491522420916, 35: 2.289734020081701, 37: 2.5830215438195956, 38: 2.4623416606050306, 41: 2.418230555267746, 42: 2.5207440433909145, 43: 2.6180888337277737, 44: 2.3918845992414277, 49: 2.4692425492237877, 50: 2.3955900275858437, 52: 2.936372745224197, 53: 2.0160081108042744, 60: 2.8394277761164193, 62: 2.3025900155872576, 65: 2.5328320446024306, 66: 2.4443577219622825, 69: 2.2750455096471307, 70: 2.3970538261459757, 73: 2.437771498433747, 76: 2.5581098949639105, 80: 2.1054795631969094, 82: 2.561586094797892, 86: 2.2280489428070984, 91: 2.552662008772133, 92: 2.6263102964078655, 93: 2.5812243118463662, 94: 2.4360194679174274, 95: 2.2998710240321927, 98: 2.4227669599601698}
result for 8

           normal  exponential
manhattan      20           93
euclidian      52           20
pearson        10           10
cosine         52           10